@import "src/scss/variables";

.input {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 20px;
  font-size: $text-size;
  &__label {
    margin-bottom: 10px;
  }
  &__field {
    font-size: $text-size;
    border: none;
    border-radius: $radius;
    box-sizing: border-box;
    height: 45px;
    padding-left: 15px;
    background-color: $black;
    color: $white;
  }
}