@font-face {
  font-family: "Inter Black";
  src: local('Inter'), url("../fonts/Inter/static/Inter-Black-slnt=0.ttf") format('truetype');
}

@font-face {
  font-family: "Inter Bold";
  src: local('Inter'), url("../fonts/Inter/static/Inter-Bold-slnt=0.ttf") format('truetype');
}

@font-face {
  font-family: "Inter Extra Bold";
  src: local('Inter'), url("../fonts/Inter/static/Inter-ExtraBold-slnt=0.ttf") format('truetype');
}

@font-face {
  font-family: "Inter Extra Light";
  src: local('Inter'), url("../fonts/Inter/static/Inter-ExtraLight-slnt=0.ttf") format('truetype');
}

@font-face {
  font-family: "Inter Light";
  src: local('Inter'), url("../fonts/Inter/static/Inter-Light-slnt=0.ttf") format('truetype');
}

@font-face {
  font-family: "Inter Medium";
  src: local('Inter'), url("../fonts/Inter/static/Inter-Medium-slnt=0.ttf") format('truetype');
}

@font-face {
  font-family: "Inter Regular";
  src: local('Inter'), url("../fonts/Inter/static/Inter-Regular-slnt=0.ttf") format('truetype');
}

@font-face {
  font-family: "Inter Semi Bold";
  src: local('Inter'), url("../fonts/Inter/static/Inter-SemiBold-slnt=0.ttf") format('truetype');
}

@font-face {
  font-family: "Inter Thin";
  src: local('Inter'), url("../fonts/Inter/static/Inter-Thin-slnt=0.ttf") format('truetype');
}